@import "vars";

@mixin button-base {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  font-family: $font-roboto;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.45s;

  &:hover {
    transform: translateY(-2px);
  }
}

@mixin orange-button {
  @include button-base;
  background-color: $orange;
  color: white;
  border-radius: 4px;
  padding: 7px 15px;
}

@mixin purple-button {
  @include button-base;
  background-color: $purple;
  color: white;
  border-radius: 4px;
  padding: 7px 15px;
}

@mixin bluepurple-button {
  @include button-base;
  background-color: $bluepurple;
  color: white;
}

@mixin blue-button {
  @include button-base;
  background-color: $brightblue;
  color: white;
}

@mixin cta-button {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    flex: 1 1 100%;
    padding: 17px 25px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-family: $font-roboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.btn {
    @include cta-button;
}

.btn--red {
    background-color: $red;
}

.btn--purple {
    background-color: $purple;
}

.btn--white-ghost {
    background-color: none;
    border: 1px solid #fff;
}
