@import "vars";

@mixin button-base {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  font-family: $font-gillsans; 
  cursor: pointer;
  border-radius: 0;
}

@mixin orange-button {
  @include button-base;
  background-color: $orange;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}

@mixin bluepurple-button {
  @include button-base;
  background-color: $bluepurple;
  color: white;
}
