@import "vars";

@mixin button-base {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  font-family: $font-roboto;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.45s;

  &:hover {
    transform: translateY(-1px);
  }
}

@mixin orange-button {
  @include button-base;
  background-color: $orange;
  color: white;
  border-radius: 4px;
  padding: 7px 15px;
}

@mixin bluepurple-button {
  @include button-base;
  background-color: $bluepurple;
  color: white;
}

@mixin blue-button {
  @include button-base;
  background-color: $brightblue;
  color: white;
}
