// COLORS
$purple: #6f81ff;
$lightgreen: #effff9;
$mediumgreen:#d4faeb;
$darkgreen: #00a476;
$orange: #ff6955;
$blueishgray: #e6ecf0;
$lightgray: #f1f5f7;
$darkgray: #888888;
$orange: #ff6955;
$offwhite: #f9f9f9;
$blue: #0060D0;

// FONTS
$font-gillsans: 'Gillsans', 'Roboto', Helvetica, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;
