// COLORS
$bluepurple: #7181ff;
$purple: #6f81ff;
$lightgreen: #effff9;
$mediumgreen:#d4faeb;
$darkgreen: #00a476;
$orange: #ff6955;
$blueishgray: #e6ecf0;
$lightgray: #f1f5f7;
$darkgray: #888888;
$orange: #ff6955;
$offwhite: #f9f9f9;
$blue: #0060D0;
$brightblue: #005be2;
$bluewhite: #f3f6f8;

$en-cours: $orange;
$en-cours-dark: #d35d4a;
$en-cours-light: #ff6955;

$fait: #2bca93; 
$fait-dark: #50a384;
$fait-light: #3fe3b5;

$venir: #bfcbd3;
$venir-dark: #5b7588;
$venir-light: #bfcbd3;

$timeline-bg: #e0e0e0;
$timeline-fill: $bluepurple;

// FONTS
$font-gillsans: 'Gillsans', 'Roboto', Helvetica, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;
