@import "~normalize.css/normalize.css";
@import "scss/fonts/fonts";
@import "scss/mixins/vars";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-gillsans;
  line-height: 1.44;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
