@import "mixins/vars";
@import "mixins/queries";
@import "mixins/z-index";
@import "mixins/buttons";

.ReactModal__Body--open {
  overflow: hidden;
}

.about-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(black, 0.6);
  z-index: $zIndex--modal;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-modal__wrapper {
  height: 100vh;
  margin: 75px 0;
  max-width: 436px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: scroll;

  &:focus {
    outline: none;
  }

  @include mq($medium-and-up) {
    margin: 25px;
    height: auto;
    overflow: visible;
  }
}

.about-modal__body {
  padding: 40px 30px;
}

.about-modal__body > h3 {
  font-size: 24px;
}

.about-modal__body > p {
  font-size: 15px;
  font-family: $font-roboto;
  color: $darkergray;
}

.about-modal__close-button {
  @include button-base;

  font-size: 14px;
  font-family: $font-roboto;
  color: $purple;
  position: fixed;
  right: 20px;
  top: 15px;

  > span {
    top: 7px;
    position: relative;
  }

  @include mq($medium-and-up) {
    top: -35px;
    color: white;
    position: absolute;
    right: 0;
  }
}
