@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.ais-InstantSearch__root {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include mq($large-and-up) {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include mq($medium-and-up) {
    flex-direction: row;
  }
}

.content {
  padding: 25px 20px;

  @include mq($medium-and-up) {
    padding: 70px 110px 0;
    flex: 1;
  }
}

.intro {
  margin-bottom: 75px;
}

.intro-header {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1.2px;
}

.intro > p {
  color: $darkgray;
  font-family: $font-roboto;
  font-size: 18px;
  line-height: 25px;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid rgba($blue, 0);
  transition: border-bottom-color 125ms ease;

  &:hover {
    border-bottom-color: $blue;
  }
}

.visibility-hidden {
  display: none !important;
}
