@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

@import "utils";

.ais-InstantSearch__root {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include mq($large-and-up) {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include mq($medium-and-up) {
    flex-direction: row;
  }
}

.content {
  padding: 25px 20px;
  margin-left: 0;

  @include mq($large-and-up) {
    padding: 70px 110px 0;
    flex: 1;
    margin-left: 355px;
  }
}

.content__top {
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;

  z-index: 1000;

  @include mq($large-and-up) {
    top: 71px;
    left: 355px;
  }
}

.intro {
  margin-bottom: 75px;
}

.intro-header {
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  letter-spacing: -1.2px;
}

.intro > p {
  color: $gray;
  font-family: $font-roboto;
  font-size: 18px;
  line-height: 25px;
}

.results {
    max-width: 770px;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid rgba($blue, 0);
  transition: border-bottom-color 125ms ease;

  &:hover {
    border-bottom-color: $blue;
  }
}
