@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.dashboard {
  flex: 1;
}

.dashboard-header {
  display: flex;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;

  @include mq($large-and-up) {
    padding: 0 20px;
  }
}

.dashboard-blurb {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  > h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
  }

  > p {
    margin-top: 0;
    margin-bottom: 20px;
    color: $darkgray;
    font-size: 16px;
    line-height: 1.38;
    font-family: $font-roboto;
  }

  @include mq($large-and-up) {
    > h2 {
      font-size: 38px;
      line-height: 1.03;
      letter-spacing: -0.7px;
      margin-bottom: 20px;
    }

    > p {
      margin-bottom: 25px;
      line-height: 1.38;
    }
  }
}

.dashboard-header__link {
  @include orange-button;
  display: inline-block;
  padding: 10px 20px;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;

  @include mq($large-and-up) {
    padding: 20px;
  }
}

.dashboard-image {
  display: none;

  > img {
    display: block;
  }

  @include mq($large-and-up) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.dashboard-body {
  position: relative;
  background-color: $bluewhite;
  padding: 80px 20px 20px;
}

.dashboard-row {
  max-width: 1200px;
  margin: 0 auto;

  @include mq($large-and-up) {
    display: flex;
    justify-content: space-between;
  }
}

.dashboard-box {
  background-color: white;
  padding: 20px;
  border: 1px solid $blueishgray;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: $font-roboto;
  line-height: 1.44;

  @include mq($large-and-up) {
    padding: 40px;
    flex-basis: 49%;

    &.dashboard-popular {
      flex: 2;
    }

    &.dashboard-progression {
      flex: 1;
      margin-right: 30px;
    }
  }
}

.dashboard-box.dashboard-progression {
  display: flex;
  flex-direction: column;
}


.dashboard-box__title {
  font-size: 24px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.dashboard-updated {
  display: block;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 1.38;
  color: $darkgray;
  margin-bottom: 25px;
}

.dashboard-popular {
  > .dashboard-box__title {
    margin-bottom: 15px;
  }
}

.dashboard-timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .progress-meter {
    height: 11px;
  }

  .progress-meter__label {
    font-family: $font-roboto;
    color: $bluepurple;

    position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.dashboard-progressions {
  flex: 1;
  display: flex;
  flex-direction: column;

  .progress-meter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex: 1;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .progress-meter__label {
    font-family: $font-gillsans;
    font-size: 16px;
    font-weight: 300;
    padding-right: 15px;
    line-height: 60px;
    top: 12px;

    > span {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.7;
    }
  }
}
