@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.dashboard {
  flex: 1;
  // background-color: $bluewhite;
}

.dashboard-header {
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-image {
  background: no-repeat center/cover url('/assets/img/header-sm.png');
  max-width: 375px;
  height: 220px;
  margin: 0 auto;

  @include mq($large-and-up) {
    background: no-repeat left/cover url('/assets/img/header-lg.png');
    max-width: 1200px;
    height: 300px;
  }
}

.dashboard-body {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  // background-color: $bluewhite;
  padding: 22px 20px 20px;
}

.dashboard-row {
  max-width: 1200px;
  margin: 0 auto;

  @include mq($large-and-up) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.dashboard-box {
  position: relative;

  background-color: white;
  padding: 20px;
  border: 1px solid $blueishgray;
  border-radius: 3px;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: $font-roboto;
  line-height: 1.44;

  p {
    color: $darkergray;
  }

  @include mq($large-and-up) {
    padding: 40px;
    flex-basis: 48.4%;

    &--full {
      flex-basis: 100%;
    }

    &.dashboard-popular {
      flex: 2;
    }

    &.dashboard-progression {
      flex: 1;
      margin-right: 40px;
      padding: 0;

      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      transition: all 100ms;
      color: black;

      @include mq($large-and-up) {
        padding: 40px;
        max-width: 380px;
      }
    }
  }
}

.dashboard-box__body,
.dashboard-box__header {
  @include mq($large-and-up) {
    margin-left: 85px;
  }
}

.dashboard-box__header {
  display: flex;
  align-items: center;
}

.dashboard-svg {
  margin-right: 16px;

  @include mq($large-and-up) {
    position: absolute;
    left: 30px;
    top: 30px;

    margin: 0;
  }

  svg {
    width: 57px;
    height: 57px;

    @include mq($large-and-up) {
      width: 67px;
      height: 67px;
    }
  }

  &__presidentielle {
    circle {
      stroke-width: 0.15px;
    }
  }

  &__europeennes {
    circle {
      fill: white;
      stroke-width: 0.15px;
      stroke: #eaeaea;
    }

    g {
      fill: #4258ED;
    }
  }
}

.dashboard-box--gradient {
  background-image: linear-gradient(to right, #7181ff, #53d5ff);

  padding-bottom: 115px;
  overflow: hidden;

  @include mq($large-and-up) {

    padding: 60px;

    .dashboard-box__body {
      margin: 0;
      max-width: 466px;
    }
  }

  .dashboard-box__title {
    color: white;
  }

  p {
    color: white;
    opacity: 0.9;
  }

  .dashboard-box__cta a {
    color: white;
  }
}

.dashboard-box--background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  opacity: .5;
}

.dashboard-svg__cloud-big,
.dashboard-svg__cloud-small {
  display: none;

  @include mq($large-and-up) {
    display: block;
    position: absolute;
  }
}

.dashboard-svg__cloud-big {
  @include mq($large-and-up) {
    top: 60px;
    right: 153px;
  }

}

.dashboard-svg__cloud-small {
  @include mq($large-and-up) {
    top: 104px;
    right: 479px;
  }
}

.dashboard-svg__city {
  height: 78px;

  position: absolute;
  bottom: -1px;
  right: -240px;

  @include mq($medium-and-up) {
    right: -174px;
  }

  @include mq($large-and-up) {
    height: 112px;
    right: -321px;
  }
}

.dashboard-box--subscribe {
  text-align: center;

  border: none;
  background: none;
  padding: 0;

  max-width: 636px;
  margin: 0 auto;

  > .SignupForm {
    max-width: 480px;
    margin: 0 auto;
  }
}

.dashboard-box .share-measure {
  display: none !important;
}

.dashboard-box__title {
  font-size: 24px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.dashboard-box__title--small {
  font-size: 20px;
}

.dashboard-box__cta {
  a {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.44;

    @include mq($large-and-up) {
      font-size: 18px;
    }
  }
}

.dashboard-updated {
  display: block;
  font-family: $font-roboto;
  font-size: 14px;
  color: $gray;
}

.dashboard-popular {
  > .dashboard-box__title {
    margin-bottom: 30px;
  }
}

.dashboard-timer {
  margin-bottom: 22px;
}

.dashboard-progressions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .progress-meter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex-basis: 25%;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .progress-meter__label {
    font-family: $font-gillsans;
    font-size: 16px;
    font-weight: 300;
    padding-right: 15px;
    line-height: 60px;
    top: 12px;

    > span {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.7;
    }
  }
}

.pie-chart__chart {
  margin: 20px auto 25px;
}

.pie-chart__legend {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.pie-chart__legend-item {
  text-align: center;
  font-size: 12px;
  color: $gray;
}

.pie-chart__legend-label {
  display: block;
  font-size: 16px;
  font-family: $font-roboto;
  font-weight: 500;
}

.pie-chart__legend-circle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border: solid 3px currentColor;
  border-radius: 50%;
}

.pie-chart__footer {
  font-size: 14px;
  color: $gray;
  margin-top: 20px;

  > .toggle-switch {
    margin-bottom: 0;
  }

}
