@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.dashboard {
  flex: 1;
}

.dashboard-header {
  display: flex;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;

  @include mq($large-and-up) {
    padding: 0 20px;
  }
}

.dashboard-blurb {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  > h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
  }

  > p {
    margin-top: 0;
    margin-bottom: 20px;
    color: $darkergray;
    font-size: 16px;
    line-height: 1.38;
    font-family: $font-roboto;
  }

  @include mq($large-and-up) {
    > h2 {
      font-size: 38px;
      line-height: 1.03;
      letter-spacing: -0.7px;
      margin-bottom: 20px;
    }

    > p {
      margin-bottom: 25px;
      line-height: 1.38;
    }
  }
}

.dashboard-header__link {
  @include orange-button;
  display: inline-block;
  padding: 10px 20px;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;

  @include mq($large-and-up) {
    padding: 20px;
  }
}

.dashboard-image {
  display: none;

  img {
    display: block;
    margin-bottom: -180px;
  }

  a,
  a:hover {
    border: 0;
  }

  @include mq($large-and-up) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.dashboard-body {
  position: relative;
  background-color: $bluewhite;
  padding: 80px 20px 20px;
}

.dashboard-row {
  max-width: 1200px;
  margin: 0 auto;

  @include mq($large-and-up) {
    display: flex;
    justify-content: space-between;
  }
}

.dashboard-box {
  background-color: white;
  padding: 20px;
  border: 1px solid $blueishgray;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: $font-roboto;
  line-height: 1.44;

  p {
    color: $darkergray;
  }

  @include mq($large-and-up) {
    padding: 40px;
    flex-basis: 48.4%;

    &.dashboard-popular {
      flex: 2;
    }

    &.dashboard-progression {
      flex: 1;
      margin-right: 40px;
      padding: 0;
    }
  }
}

.dashboard-box .share-measure {
  display: none !important;
}

.dashboard-progression__link {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 20px;
  transition: all 100ms;
  color: black;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    border-color: transparent;
  }

  @include mq($large-and-up) {
    padding: 40px;
  }
}


.dashboard-box__title {
  font-size: 24px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.dashboard-box__title--small {
  font-size: 20px;
}

.dashboard-box__cta {
  text-align: center;

  a {
    @include bluepurple-button;
    border-radius: 4px;
    padding: 7px 15px;
    display: inline-block;
    margin-top: 20px;
  }
}

.dashboard-updated {
  display: block;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 1.38;
  color: $gray;
  margin-bottom: 25px;
}

.dashboard-popular {
  > .dashboard-box__title {
    margin-bottom: 15px;
  }
}

.dashboard-timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .progress-meter {
    height: 11px;
  }

  .progress-meter__label {
    font-family: $font-roboto;
    color: $bluepurple;

    position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.dashboard-progressions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .progress-meter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex-basis: 25%;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .progress-meter__label {
    font-family: $font-gillsans;
    font-size: 16px;
    font-weight: 300;
    padding-right: 15px;
    line-height: 60px;
    top: 12px;

    > span {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.7;
    }
  }
}

.pie-chart__chart {
  margin: 0 auto 25px;
}

.pie-chart__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pie-chart__legend-item {
  text-align: center;
  font-size: 12px;
  color: $gray;
}

.pie-chart__legend-label {
  display: block;
  font-size: 16px;
  font-family: $font-roboto;
  font-weight: 500;
}

.pie-chart__legend-circle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border: solid 3px currentColor;
  border-radius: 50%;
}

.pie-chart__hint {
  
}
