@import "mixins/queries";
@import "mixins/vars";

@mixin sidebar-dropdown {
  .Select-control {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px $blueishgray;

    height: 43px;

    transition: box-shadow 125ms ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }
  }

  &.Select.is-open > .Select-control {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-color: $blueishgray;
  }

  .Select-placeholder {
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: bold;
    color: $darkergray;
  }

  .Select-placeholder,
  &.Select--single > .Select-control .Select-value {
    line-height: 43px;
    font-weight: bold;
    font-family: $font-roboto;
  }

  .Select-menu-outer {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px $blueishgray;
    border-top: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }

  &.Select.is-focused:not(.is-open) > .Select-control {
    border-color: $bluepurple;
  }
}

.profile-dropdown,
.theme-dropdown {
  @include sidebar-dropdown;

  margin-bottom: 10px;
}

.translate-dropdown {
  @include sidebar-dropdown;
  flex-basis: 55px;
  margin-right: 10px;

  @include mq($medium-and-up) {
    flex-basis: 100px;
    margin-right: 15px;
  }

  .Select-control {
    height: 30px;

    > :last-child {
      padding-right: 0;
    }

    @include mq($medium-and-up) {
      height: 35px;
    }
  }

  .Select-placeholder,
  &.Select--single > .Select-control .Select-value {
    font-weight: normal;
    font-size: 14px;
    line-height: 33px;
  }

  .Select-input {
    height: 30px;
  }

  .Select-option {
    font-size: 14px;
    padding: 5px 9px;
  }
}
