@import "mixins/vars";

@mixin sidebar-dropdown {
  .Select-control {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px $blueishgray;
    
    height: 43px;
  }
  
  &.Select.is-open > .Select-control {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-color: $blueishgray;
  }
  
  .Select-placeholder {
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .Select-placeholder,
  &.Select--single > .Select-control .Select-value {
    line-height: 43px;
  }
  
  .Select-menu-outer {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px $blueishgray;
    border-top: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
  
  &.Select.is-focused:not(.is-open) > .Select-control {
    border-color: $bluepurple;
  }
}

.profile-dropdown,
.theme-dropdown {
  @include sidebar-dropdown;
  
  margin-bottom: 10px;
}
