@import "mixins/buttons";
@import "mixins/vars";

.filter-button {
  @include button-base;
  font-weight: normal;
  background-color: $purple;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-family: $font-roboto;
  position: relative;
  text-align: left;
  transform: scale3d(1, 1, 1);
  
  transition: all 0.25s;

  &:hover {
    transform: scale3d(1.15, 1.15, 1);
  }

  &:focus,
  &:active {
    outline: none;
  }

  &.is-active {
    background-color: black !important;
    color: white !important;
  }

  &::after {
    display: none;
    content: 'x';
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-family: $font-gillsans;
    justify-content: center;
    align-items: center;
    color: $gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -7px;
    right: -5px;
  }

  &.is-active::after {
    display: flex;
  }
}
