@import "mixins/vars";
@import "mixins/queries";

.fixed-modal {
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 600;
    box-shadow: 0 5px 10px 0 rgba(69, 78, 92, .32);
    overflow: hidden;

    @include mq($medium-and-up) {
      border-radius: 4px;
      max-width: 470px;
      bottom: 30px;
      left: 30px;
    }

    &__content {
        padding: 30px 25px;
        position: relative;
        font-family: $font-roboto;

        .subtitle {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            color: #7F8893;
            margin-bottom: 12px;
        }

        .title {
            font-size: 18px;
            color: black;
            font-weight: bold;
            max-width: 250px;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        padding: 0;
        font-family: Roboto,Helvetica,sans-serif;
        font-weight: 700;
        cursor: pointer;
        border-radius: 0;
        -webkit-transition: all .45s;
        transition: all .45s;
        width: 25px;
        height: 25px;
        outline: 0;
        opacity: 0.5;

        svg {
            fill: #7B889B;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__footer {
        background-color: $lightgray;
        height: 60px;
        width: 100%;
        padding: 0 25px;
        display: flex;
        align-items: center;
        font-family: $font-roboto;
    }

    &__button {
        font-size: 16px;
        font-weight: bold;
        color: #2D9FFF;
        border: none;
        position: relative;
        z-index: 2;
        padding-left: 15px;

        &::before {
            position: absolute;
            left: 0;
            top: 6px;
            content:'';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent #2D9FFF;
        }
    }

    &__illustration {
        position: absolute;
        right: 0;
        bottom: -6px;
        transform-origin: 100% 100%;
        transform: scale(0.8);
        z-index: 1;
        pointer-events: none;

        @include mq($medium-and-up) {
            transform: scale(1);
        }
    }
}
