@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";
@import "mixins/z-index";

.Page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: $zIndex--header;

  border-bottom: 1px solid $blueishgray;
  background-color: white;
  color: black;

  @include mq($medium-and-up) {
    font-size: 28px;
  }
}

.header-logo {
  font-family: $font-gillsans;
  font-weight: bold;
  font-style: oblique;
  color: black;
  text-decoration: none;
  border: 0;

  &:hover {
      border: 0;
      opacity: 0.8;
  }
}

.header-tag {
  font-weight: 100;
  font-size: 18px;
  color: $darkergray;

  @include mq($medium-and-up) {
    font-size: 28px;
  }
}

.header-sep {
  opacity: 0.2;
  font-weight: 100;
  font-size: 24px;
}

.header-left {
  flex-basis: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq($medium-and-up) {
    flex-basis: 300px;
  }
}

.header-right {

  @include mq($medium-and-up) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: $font-roboto;
    color: $gray;
    
    .i18n & {
      flex: 0 1 350px;
    }
  }
  
  .i18n & {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  > .SocialMediaShareButton {
    cursor: pointer;
    margin-left: 10px;

    path {
      fill: white;
    }

    circle {
      fill: $purple;
      transition: all .2s;
    }

    &:hover circle {
      fill: $lightpurple;
    }
  }

  .header-right__about {
    background: transparent;
    color: $gray;
    border: 0;
    font-weight: bold;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: $purple;
    }
  }

  .header-right__divider {
    margin: 0 5px;
    color: $mediumlightgray;
    display: inline-block;
  }

  .header-disconnect {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin-left: 10px;
    background: transparent;
    color: $gray;

    &:hover {
      color: $purple;
      border-bottom: 1px solid $purple;
    }
  }
}

.header-button {
  @include orange-button;
  font-size: 14px;
}

.header-social {
  color: white;
  text-decoration: none;
  background-color: $orange;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-family: $font-roboto;
  background-color: $purple;
  padding: 15px;
  color: white;
  z-index: 500;
}

.footer-body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;

  > a {
    color: white;
    border-bottom: 1px solid rgba(white, 0.5);

    &:hover {
      border-color: white;
    }
  }
}

.mobile-share {
  position: relative;
  
  .translate-dropdown + & > .header-button {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.share-panel {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  right: 0;
  width: 60px;
  margin: auto;
  background: $lightgray;
  padding: 15px 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  &:before {
    content: '';
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: $lightgray;
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.share-panel .SocialMediaShareButton {
  width: 35px;
  margin: 0 auto 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
