@import "mixins/vars";
@import "mixins/queries";

.measure-list {
  border: 1px solid $blueishgray;
}

.measure {
  position: relative;
  display: block;
  text-decoration: none;
  border-top: 1px solid $lightgray;
  border-bottom: none; // override base link style
  padding: 10px 20px;
  font-size: 14px;
  color: $darkgray;
  transition: background-color 125ms ease, color 125ms ease;

  &[href]:hover {
    background-color: $blueishgray;

    > .share-measure {
      opacity: 1;
    }
  }

  &:first-child {
    border-top: none;
  }

  @include mq($medium-and-up) {
    font-size: 16px;
    padding: 10px 25px;
  }
}

.measure-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  flex-wrap: wrap;
  
  @include mq($medium-and-up) {
    flex-wrap: nowrap;
  }
}

.measure-status {
  font-family: $font-roboto;
  color: $darkgray;
  width: 100%;
  flex-shrink: 0;
  flex-basis: 75px;
  padding: 5px;
  margin-right: 25px;
  border-radius: 38px;
  border: 1px solid $lightgray;
  text-align: center;
  transition: background-color 125ms ease, color 125ms ease, border-color 125ms ease;

  .voted & {
    border-color: $en-cours;
    background-color: $en-cours;
    color: white;
  }

  .is-law & {
    border-color: $fait;
    background-color: $fait;
    color: white;
  }

  @include mq($medium-and-up) {
    font-size: 12px;
    padding: 5px 3px;
    margin-right: 20px;
  }
}

.measure-name {
  font-size: 16px;
  font-family: $font-roboto;
  flex: 1;
  color: $darkergray;
  margin-bottom: 10px;
  
  order: -1;
  flex-basis: 100%;

  .en-vigueur[href] &::after,
  .voté[href] &::after {
    content: ' →';
  }
  
  @include mq($medium-and-up) {
    order: 0;
    flex-basis: auto;
    margin-bottom: 0;
  }
}

.measure-vote {
  display: flex;
  align-items: center;

  > span {
    display: inline-block;
    margin-right: 7px;
    color: $darkgray;
    font-size: 12px;
    font-family: $font-roboto;
  }
}

.measure-accordion {
  position: relative;
}

.measure-accordion__trigger {
  display: block;
  text-align: center;
  background-color: white;
  cursor: pointer;
  padding: 12px 0;
  font-family: $font-roboto;
  font-size: 16px;
  border-top: 1px solid $blueishgray;
  color: $darkgray;

  transition: background-color 125ms ease;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      margin-right: 5px;
    }
  }

  &:hover {
    background-color: $offwhite;
  }

  .to-bottom & {
    position: absolute;
    bottom: -50px;
    left: -1px;
    right: -1px;

    border-left: 1px solid $blueishgray;
    border-right: 1px solid $blueishgray;

    + .measure-accordion__contentOuter {
      margin-bottom: 50px;
    }
  }

  &.is-closed .up {
    display: none;
  }

  &.is-open .down {
    display: none;
  }
}

.measure-accordion__contentInner {
  border-top: 1px solid $blueishgray;
}

.share-measure {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: -95px;
  width: 90px;
  height: 100%;

  opacity: 0;
  transition: opacity 125ms ease;
}
