@import "mixins/vars";
@import "mixins/queries";

.measure-list {
  border: 1px solid $blueishgray;
}

.measure {
  position: relative;
  display: block;
  text-decoration: none;
  border-top: 1px solid $lightgray;
  border-bottom: none; // override base link style
  padding: 10px 20px;
  font-size: 14px;
  color: $darkgray;
  transition: background-color 125ms ease, color 125ms ease;
  
  &.en-vigueur,
  &.voté {
    background-color: $lightgreen;
    color: $darkgreen;
    
    &[href]:hover {
      background-color: $mediumgreen;
      color: $darkgreen;
      
      .measure-status {
        border-color: $darkgreen;
        background-color: $darkgreen;
        color: $lightgreen;
      }
      
      > .share-measure {
        opacity: 1;
      }
    }
  }
  
  &:first-child {
    border-top: none;
  }
  
  @include mq($medium-and-up) {
    font-size: 16px;
    padding: 15px 25px;
  }
}

.measure-body {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.measure-status {
  font-family: $font-roboto;
  color: $darkgray;
  flex-shrink: 0;
  flex-basis: 75px;
  padding: 5px;
  margin-right: 25px;
  border-radius: 38px;
  border: 1px solid $lightgray;
  text-align: center;
  transition: background-color 125ms ease, color 125ms ease, border-color 125ms ease;
  
  .en-vigueur &,
  .voté & {
    border-color: $darkgreen;
    background-color: $darkgreen;
    color: $lightgreen;
  }
  
  @include mq($medium-and-up) {
    font-size: 12px;
    padding: 5px 3px;
    margin-right: 20px;
  }
}

.measure-name {
  font-family: $font-roboto;
  
  .en-vigueur &::after,
  .voté &::after {
    content: ' →';
  }

}

.measure-accordion {
}

.measure-accordion__trigger {
  display: block;
  text-align: center;
  background-color: white;
  cursor: pointer;
  padding: 12px 0;
  font-family: $font-roboto;
  font-size: 16px;
  border-top: 1px solid $blueishgray;
  
  transition: background-color 125ms ease;
  
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    > svg {
      margin-right: 5px;
    }
  }
  
  &:hover {
    background-color: $offwhite;
  }
}

.measure-accordion__contentInner {
  border-top: 1px solid $blueishgray;
}

.share-measure {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: -95px;
  width: 90px;
  height: 100%;
  
  opacity: 0;
  transition: opacity 125ms ease;
}
