@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.Page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $purple;
  font-size: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  
  @include mq($medium-and-up) {
    font-size: 28px;
  }
}

.header-logo {
  font-family: "Gillsans heavy italic";
  color: white;
  text-decoration: none;
}

.header-tag {
  font-weight: 100;
  
  &::before {
    content: ' | '
  }
}

.header-right {
  display: none;
  
  @include mq($medium-and-up) {
    display: flex;
    flex-basis: 130px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
}

.header-right__mobile {
  @include mq($medium-and-up) {
    display: none;
  }
}

.header-button {
  @include orange-button;
  font-size: 14px;
}

.header-social {
  color: white;
  text-decoration: none;
  background-color: $orange;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: $purple;
  padding: 15px;
  color: white;
}

.footer-body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;

  > a {
    color: white;
  }
}
