@import "mixins/vars";

.progress-meter {
}

.progress-meter__bar {
  height: 8px;
  border-radius: 8px;

  position: relative;

  margin-bottom: 15px;
}

.progress-meter__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 0%;

  border-radius: 8px;
}

.progress-meter__label {
  position: relative;
  display: block;
  z-index: 100;

  color: black;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 1.06;
}

.progress-meter.fait {
  background-color: rgba($fait-light, 0.1);
  color: $fait-dark;

  .progress-meter__bar {
    background-color: $fait;
  }
}

.progress-meter.en-cours {
  background-color: rgba($en-cours-light, 0.1);
  color: $en-cours-dark;

  .progress-meter__bar {
    background-color: $en-cours;
  }
}

.progress.a-venir {
  color: $darkergray;
  margin-top: 10px;
}

.progress-meter.timeline {
  .progress-meter__bar {
    background-color: $timeline-bg;
  }

  .progress-meter__progress {
    background-color: $timeline-fill;
  }
}
