@import "mixins/vars";

.progress-meter {
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 0;

  transition: width 125ms ease-out 500ms;
}

.progress-meter__label {
  position: relative;
  display: block;
  z-index: 100;
}

.progress-meter.fait {
  background-color: rgba($fait-light, 0.1);
  color: $fait-dark;

  .progress-bar {
    background-color: $fait;
  }
}

.progress-meter.en-cours {
  background-color: rgba($en-cours-light, 0.1);
  color: $en-cours-dark;

  .progress-bar {
    background-color: $en-cours;
  }
}

.progress.a-venir {
  color: $darkergray;
  margin-top: 10px;
}

.progress-meter.timeline {
  background-color: $timeline-bg;

  .progress-bar {
    background-color: $timeline-fill;
  }
}
