@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.sidebar {
  background-color: $lightgray;
  padding: 25px 25px 10px 25px;

  @include mq($large-and-up) {
    flex-basis: 355px;
    padding: 75px 40px 0;
    position: fixed;
    width: 355px;
    height: calc(100% - 71px);
    overflow: scroll;
  }
}

.sidebar-title {
  font-family: $font-roboto;
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.refinement-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @include mq($medium-and-up) {
    margin-bottom: 28px;
    display: flex;
    flex-flow: row wrap;
  }
}

.refinement-profiles .filter-button {
  background-color: rgba($purple, .7);
}

.refinement-list__item {
  margin-right: 7px;
  margin-bottom: 7px;
}

.refinement-list__item-more ~ .refinement-list__item {
  display: none;
}

.sidebar-more {
  .refinement-list__item-more {
    display: none;

    ~ .refinement-list__item {
      display: block;
    }
  }
}

.ais-SearchBox__root {
  display: none;

  @include mq($medium-and-up) {
    display: block;
  }
}

.ais-SearchBox__wrapper {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px #e6ecf0 solid;
  margin-bottom: 8px;
}

.ais-SearchBox__input {
  background-color: transparent;
  border: none;
  font-family: $font-roboto;
  order: 2;

  &:focus,
  &:active {
    outline: none;
  }
}

.ais-SearchBox__submit {
  order: 1;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  font-size: 13px;

  > svg {
    fill: $gray;
  }
}

.ais-SearchBox__reset {
  display: none;
}

.sidebar-footer {
  color: $gray;
  display: none;
  font-family: $font-roboto;

  small {
    font-size: 12px;
  }

  @include mq($medium-and-up) {
    display: block;
    margin-bottom: 50px;
  }
}

.sidebar-reset {
  @include button-base;
  display: block;
  font-weight: normal;
  font-family: $font-roboto;
  font-size: 12px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(black, .2);

  transition: border-bottom-color 125ms ease;

  &--mobile {
    width: 100%;
    border: 0;
    color: $darkergray;
    padding: 10px 0;
    margin-top: 5px;
    font-size: 16px;
  }

  &:hover {
    border-bottom-color: rgba(black, 1);
  }
}
