@import "mixins/vars";
@import "mixins/queries";
@import "mixins/buttons";

.sidebar {
  background-color: $lightgray;
  padding: 25px 25px 0 25px;
  flex: 1 0 355px;
  
  @include mq($medium-and-up) {
    padding: 75px 40px 0;
  }
}

.sidebar-title {
  font-family: $font-roboto;
  font-size: 16px;
  color: #444;
  margin-bottom: 4px;
}

.refinement-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @include mq($medium-and-up) {
    margin-bottom: 28px;
    display: flex;
    flex-flow: row wrap;
  }
}

.refinement-profiles .filter-button {
  background-color: rgba($mediumgray, 0.2);
}

.refinement-list__item {
  margin-right: 7px;
  margin-bottom: 7px;
}

.refinement-list__item-more ~ .refinement-list__item {
  display: none;
}

.sidebar-more {
  .refinement-list__item-more {
    display: none;
    
    ~ .refinement-list__item {
      display: block;
    }
  }
}

.sidebar-search {
  margin-bottom: 35px;
}

.ais-SearchBox__root {
  display: none;
  
  @include mq($medium-and-up) {
    display: block;
  }
}

.ais-SearchBox__wrapper {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px #e6ecf0 solid;
  margin-bottom: 8px;
}

.ais-SearchBox__input {
  background-color: transparent;
  border: none;
  font-family: $font-gillsans;
  order: 2;
  
  &:focus,
  &:active {
    outline: none;
  }
}

.ais-SearchBox__submit {
  order: 1;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  font-size: 13px;
  
  > svg {
    fill: $darkgray;
  }
}

.ais-SearchBox__reset {
  display: none;
}

.sidebar-footer {
  color: $darkgray;
  display: none;
  font-family: $font-roboto;
  
  @include mq($medium-and-up) {
    display: block;
  }
}

.sidebar-reset {
  @include button-base;
  display: block;
  font-family: $font-roboto;
  font-size: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(black, 0);
  
  transition: border-bottom-color 125ms ease;
  
  &:hover {
    border-bottom-color: rgba(black, 1);
  }
}
