@import "mixins/vars";
@import "mixins/queries";

.SignupForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
}

.SignupForm > input {
  flex: 1 1 100%;
  font-size: 16px;
  line-height: 1.75;
  font-family: $font-roboto;
  padding: 5px;
  border: none;
  margin-bottom: 12px;
  background-color: $offwhite;
  height: 60px;
  border-radius: 3px;
}

.SignupForm > input::placeholder {
  color: $gray;
  text-align: center;
}

.SignupForm > button {
    margin-left: 10px;
}

.SignupForm__message {
  font-size: 14px;
  margin: 0;
  flex: 1;
  text-align: center;
  color: $orange;
}

@include mq($medium-and-up) {
  .SignupForm input {
    margin-bottom: 0;
    padding: 5px 10px 5px 20px;
  }

  .SignupForm input::placeholder {
    text-align: left;
  }

  .SignupForm button {
    margin-bottom: 0;
    flex-grow: 0;
  }

  .SignupForm button,
  .SignupForm input {
    flex-basis: auto;
  }

  .SignupForm__message {
    padding-top: 15px;
    flex-basis: 100%;
  }
}
