@import "mixins/vars";

.theme {
  margin-bottom: 50px;
}

.theme-title {
  font-size: 34px;
  font-family: $font-gillsans;
  font-weight: bold;
}

.theme-body,
.no-measure {
  color: $darkgray;
  font-family: $font-roboto;
}
