@import "mixins/vars";

.theme {
  margin-bottom: 50px;
}

.theme-title {
  font-size: 34px;
  line-height: 38px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -1px;
}

.theme-body,
.no-measure,
.intro-description
 {
  color: $gray;
  font-family: $font-roboto;
}

.theme-image {
  margin-bottom: 22px;
  border-radius: 3px;
  background-size: cover;
  min-height: 300px;
  background-position: center center;
  background-color: $blueishgray;
}

.theme-image__text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
