@import "mixins/vars";

.theme {
  margin-bottom: 50px;
}

.theme-title {
  font-size: 34px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -1px;
}

.theme-body,
.no-measure,
.intro-description
 {
  color: $gray;
  font-family: $font-roboto;
}

.theme-image {
  display: block;
  max-width: 100%;
  margin-bottom: 22px;
}
