@import "mixins/vars";
@import "mixins/queries";

.theme {
  margin-bottom: 50px;
}

.theme-title {
  font-size: 34px;
  line-height: 38px;
  font-family: $font-gillsans;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.theme-body,
.no-measure,
.intro-description {
  color: $gray;
  font-family: $font-roboto;
}

.theme-body {
  margin-top: 0;
  margin-bottom: 16px;
}

.intro-description span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.theme-image {
  margin-bottom: 22px;
  border-radius: 3px;
  background-size: cover;
  min-height: 130px;
  background-position: center center;
  background-color: $blueishgray;

  @include mq($medium-and-up) {
    height: 300px;
  }
}

.theme-image__text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
