@import "mixins/vars";
@import "mixins/buttons";

.vote-button {
  @include button-base;
  padding: 8px;
  border: 1px solid $blueishgray;
  border-radius: 3px;
  background-color: rgba($bluepurple, 0);

  transition: all 250ms ease, background-color 125ms ease, border-color 125ms ease;

  .thumbs-up path {
    transition: stroke 125ms ease;
  }

  &:hover,
  &.is-active:hover {
    transform: scale(1.1);
    background-color: rgba($lightpurple, 1);
    border-color: $lightpurple;

    .thumbs-up path {
      stroke: white;
    }
  }

  &.is-active {
    background-color: rgba($bluepurple, 1);
    border-color: $bluepurple;

    .thumbs-up path {
      stroke: white;
    }
  }

  div {
    width: 16px;
    height: 16px;
  }
}
