@import "mixins/vars";
@import "mixins/buttons";

.vote-button {
  @include button-base;
  background-color: rgba($bluepurple, 0);
  transition: all 250ms ease, background-color 125ms ease, border-color 125ms ease;
  padding: 8px;
  border-radius: 3px;
  
  &.is-major {
    border: 1px solid $blueishgray;
  }

  .thumbs-up path {
    stroke: $gray;
    transition: stroke 125ms ease;
  }
  
  &.is-major .thumbs-up path {
    stroke: $darkgray;
  }

  &:hover,
  &.is-active:hover {
    transform: scale(1.1);
    background-color: rgba($lightpurple, 1);
    
    &.is-major {
      border-color: $lightpurple;
    }

    .thumbs-up path {
      stroke: white;
    }
  }

  &.is-active {
    background-color: rgba($bluepurple, 1);
    
    &.is-major {
      border-color: $bluepurple;
    }

    .thumbs-up path {
      stroke: white;
    }
  }

  
  .thumbs-up {
    width: 14px;
    height: 14px;
  }
  
  div {
    width: 14px;
    height: 14px;
  }
  
  &.is-major div {
    width: 16px;
    height: 16px;
  }
}
